*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form{
    text-align: center;
    flex-basis: 100%;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 10rem auto;
    background-color: aquamarine;
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.gridCell{
    height: 100%;
    background-color: red;
    width: calc(100% / 12 * 1.2);
    border: 2px solid ;
}

